
blockquote {
  font-family: serif;
}

.panel-body{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(185, 185, 245);
  color: white;
}
.panel-title {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(122, 122, 247);
  color: white;
}

body {
  background-color: bisque;
}

.jumbotron {
  margin: 30px;
  background-size: cover;
  background-image: url("../images/jumbo.jpeg")
}
 .jumbotron h1 {
   color: white;
 }

 .activity {

 }

 .activityHead {

 }

 .price {

 }

.packageHead {

}

.packageBody {

}

.date {
  
}