
blockquote {
  font-family: serif;
}

.panel-body{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(185, 185, 245);
  color: white;
}
.panel-title {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(122, 122, 247);
  color: white;
}

body {
  background-color: rgb(253, 169, 121);
}

.jumbotron {
  margin: 30px;
  background-size: cover;
  background-image: url("../images/jumbo.jpeg")
}
 .jumbotron h1 {
   color: white;
 }

 .activity {
  font-weight: normal;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }

 .activityHead {  
   font-weight: bold;
   font-size: large;
 }

 .cost {
  font-weight: bold;
  font-size: large;
 }

 .dollarAmount {
  font-weight: normal;
  font-size: large;
 }

.packageHead {
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.packageBody {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date {
  font-style: italic;
  font-size: smaller;
}

.packageColumn {
  font-family: monospace;
  color: white;
}