p {
  float: left;
  width: 256px;
  padding: 20px;
}

img.columnPic {
  float: left;
  width: 256px;
  padding: 20px;
}

.column {
  float: left;
  width: 256px;
  padding: 20px;
  height: 700px;
}

blockquote {
  float: left;
  width: 30%;
  padding: 20px;
  font-family: serif;
}

.panel-body{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(185, 185, 245);
  color: white;
  float: left;
  width: 30%;
  padding: 20px;
}
.panel-title {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(122, 122, 247);
  color: white;
  float: left;
  width: 30%;
  padding: 20px;
}

body {
  background-color: bisque;
}

.jumbotron {
  margin: 30px;
  background-size: cover;
  background-image: url("../images/jumbo.jpeg")
}
 .jumbotron h1 {
   color: white;
 }